body {
  background-image: url("paper.gif");
}


/* body {
    color: rgb(7, 7, 18);
  }
  
  h1 {
    color: rgb(156, 92, 13);
  } */

  body {
    margin: 0;
    padding: 0;
  }

.header {
  background: #161b22;
  color: white;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.octicon {
  fill: currentColor;
}

.header > svg {
  cursor: pointer;
}

.arama {
  padding: 0px 5px;
  color: white;
  outline: none;
  border: 1px solid rgba(255,255,255,.2);
  border-radius: .50rem;
  background: rgba(0,0,0,.45);

}

/* ul li {
  float: left;
} */

li a {
  display: block;

  padding:12px 14px;

  background-color: #27ae60;
}

ul {
  list-style-type: none;
  display:flex;
  justify-content: center;

  padding: 0;

  overflow: hidden;
}
ul > li {
  float: left;
}

ul > li:first-child {
  border-radius: 0px 5px 5px 0px;
}

li a {
  display: block;

  padding:12px 16px;

  background-color: #131413;

  color:white;

  text-decoration:none; 
}
li a:hover{
  background-color:#2a302d; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kutu {
  width: 70%;
  padding: 15px;
  border-radius: 5px;
  background: rgba(66, 20, 47, .8);
  color: white;
  border: 1px solid rgba(0,0,0,.1);
}
a{color: black;}
